@use "../Abstracts/mixins" as *;
@use "../Abstracts/variables" as *;

.banner {
    position: relative;
    height: 111px;
    border-radius: 10px;
    overflow: hidden;


    @include respond(desktop) {
        height: 223px;
        margin-bottom: 30px;
        border-radius: 25px;
    }
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(70%);
}

.banner-title {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-70%);
    color: $color-white;
    font-size: $h1-mobile;
    font-weight: bold;
    max-width: 220px;

    @include respond(desktop) {
        left: 50%;
        transform: translate(-50%, -100%);
        font-size: $h1-desktop;
        max-width: none;
        text-align: center;
    }
}