@use "../Abstracts/mixins" as *;
@use "../Abstracts/variables" as *;

.card {
    position: relative;
    border-radius: $radius-md;
    overflow: hidden;
    min-height: 255px;
    display: block;
    text-decoration: none;

    @include respond(desktop) {
        min-height: 340px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &-title {
        position: absolute;
        bottom: 20px;
        left: 20px;
        color: $color-white;
        font-size: 18px;
        line-height: 1.4;
        font-weight: bold;
        max-width: 200px;
    }
}