@use "../Abstracts/mixins" as *;
@use "../Abstracts/variables" as *;

.collapse {
    max-width: 1023px;
    margin: 0 auto 20px;

    &-header {
        margin: 0;
        height: 30px;
        width: 100%;
        border: 0;
        background: $color-primary;
        color: $color-white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 18px;
        border-radius: 5px;
        font-weight: bold;
        font-size: 13px;

        @include respond(desktop) {
            height: 52px;
            font-size: 18px;
            padding: 10px 20px;
        }
    }

    &-icon {
        cursor: pointer;
        display: inline-flex;
        transition: transform 400ms ease;
    }

    &.isOpen {
        .collapse-icon {
            transform: rotate(-180deg);
        }
    }

    &-content {
        background: #F6F6F6;
        border-radius: 0 0 5px 5px;
        overflow: hidden;
        opacity: 0;
        max-height: 0;
        transform: translateY(-5px);
        transition: max-height 450ms ease, transform 450ms ease, opacity 350ms ease;
    }

    &.isOpen &-content {
        max-height: 200px;
        transform: translateY(0);
        opacity: 1;
    }

    &-content-inner {
        padding: 16px 18px;
        color: $color-black;
        font-size: 12px;

        @include respond(desktop) {
            font-size: 18px;
        }
    }
}