@use "../Abstracts/mixins" as *;
@use "../Abstracts/variables" as *;

.slideshow {
    position: relative;
    height: 255px;
    border-radius: 10px;
    overflow: hidden;

    @include respond(desktop) {
        height: 415px;
        border-radius: 25px;
    }

    &-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    &-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        border: 0;
        background: transparent;
        color: $color-white;
        cursor: pointer;
        font-size: 48px;
        padding: 0 12px;

        @include respond(desktop) {
            font-size: 96px;
            padding: 0 20px;
        }

        &--left {
            left: 8px;

            @include respond(desktop) {
                left: 16px;
            }
        }

        &--right {
            right: 8px;

            @include respond(desktop) {
                right: 16px;
            }
        }
    }

    &-counter {
        position: absolute;
        bottom: 12px;
        left: 50%;
        color: $color-white;
        font-size: 14px;

        @include respond(desktop) {
            font-size: 18px;
            bottom: 18px;
        }
    }

}