$color-primary: #ff6060;
$color-black: #000000;
$color-white: #ffffff;
$color-background: #f6f6f6;

$radius-lg: 25px;
$radius-md: 10px;

$font-family: "Montserrat", sans-serif;

$font-size: (
    h1-desktop: 48px,
    h1-mobile: 24px,

    nav-desktop: 24px,
    nav-mobile: 12px,
);