@use "../Abstracts/mixins" as *;
@use "../Abstracts/variables" as *;

.about {
    padding: 20px;

    @include respond(desktop) {
        padding: 40px 100px;
    }

    &-collapse {
        margin-top: 30px;
    }
}