@use "../Abstracts/mixins" as *;
@use "../Abstracts/variables" as *;

.house {
    padding: 20px;

    @include respond(desktop) {
        padding: 40px 100px;
    }

    &-top {
        margin-top: 15px;

        @include respond(desktop) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 40px;
            margin-top: 12px;
        }
    }

    &-title {
        color: $color-primary;
        font-size: 18px;
        margin: 0;

        @include respond(desktop) {
            font-size: 36px;
        }
    }

    &-location {
        margin: 8px 0 0;
        font-size: 14px;

        @include respond(desktop) {
            font-size: 18px;
        }
    }

    &-collapses {
        margin-top: 18px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .collapse {
            margin: 0;
            flex: 1;
        }

        @include respond(desktop) {
            margin-top: 25px;
            flex-direction: row;
            gap: 76px;

        }
    }
}

.equipements {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
        margin: 0;
    }
}

.tag {
    background: $color-primary;
    color: $color-white;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 18px;

    @include respond(desktop) {
        font-size: 14px;
        border-radius: 10px;
        padding: 6px 25px;
    }
}