@use "../Abstracts/mixins" as *;
@use "../Abstracts/variables" as *;

.house {
    padding: 20px 20px 40px;

    @include respond(desktop) {
        padding: 20px 100px 60px;
    }

    &-top {
        margin-top: 15px;

        @include respond(desktop) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            gap: 40px;
            margin-top: 30px;
        }
    }

    &-title {
        color: $color-primary;
        font-size: 18px;
        margin: 0;

        @include respond(desktop) {
            font-size: 36px;
        }
    }

    &-location {
        margin: 8px 0 0;
        font-size: 14px;

        @include respond(desktop) {
            font-size: 18px;
        }
    }

    &-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 12px;
    }

    &-host {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rating {
            order: 1;
        }

        .host {
            order: 2;
        }

        @include respond(desktop) {
            margin-top: 0;
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;

            .rating {
                order: 2;
            }

            .host {
                order: 1;
            }
        }
    }

    &-collapses {
        margin-top: 13px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .collapse {
            margin: 0;
            flex: 1;
        }

        @include respond(desktop) {
            margin-top: 20px;
            flex-direction: row;
            gap: 76px;

        }
    }
}

.host {
    display: flex;
    align-items: center;
    gap: 10px;

    &-name {
        color: $color-primary;
        font-size: 12px;
        margin: 0;
        text-align: right;

        @include respond(desktop) {
            font-size: 18px;
        }
    }

    &-picture {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;

        @include respond(desktop) {
            width: 64px;
            height: 64px;
        }
    }
}

.equipements {
    list-style: none;
    padding: 0;

    li {
        margin: 0;
    }
}

.tag {
    background: $color-primary;
    color: $color-white;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    padding: 4px 18px;

    @include respond(desktop) {
        font-size: 14px;
        border-radius: 10px;
        padding: 6px 25px;
    }
}