@use "../Abstracts/mixins" as *;
@use "../Abstracts/variables" as *;

.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 60px 20px;

    &-title {
        font-size: 96px;
        font-weight: bold;
        color: $color-primary;
        margin: 0;
        margin-bottom: 90px;

        @include respond(desktop) {
            font-size: 288px;
            margin-bottom: 60px;
        }
    }

    &-text {
        font-size: 18px;
        color: $color-primary;
        margin: 0;
        margin-bottom: 120px;

        @include respond(desktop) {
            font-size: 36px;
            margin-bottom: 140px;
        }
    }

    &-link {
        display: inline-block;
        text-decoration: underline;
        color: $color-black;
        margin: 0;
    }
}

.only-mobile {
    display: inline;

    @include respond(desktop) {
        display: none;
    }
}