@use "./Abstracts/variables";
@use "./Abstracts/mixins";
@use "./Abstracts/breakpoints";

@use "./Layout/header";
@use "./Layout/footer";

@use "./Components/card";
@use "./Components/banner";

@use "./Pages/home";
@use "./Pages/about";
@use "./Pages/house";
@use "./Pages/notfound";