@use "./Abstracts/variables";
@use "./Abstracts/mixins";
@use "./Abstracts/breakpoints";

@use "./Layout/header";
@use "./Layout/footer";
@use "./Layout/layout";

@use "./Components/card";
@use "./Components/banner";
@use "./Components/collapse";
@use "./Components/slideshow";
@use "./Components/rating";

@use "./Pages/home";
@use "./Pages/about";
@use "./Pages/house";
@use "./Pages/notfound";

body {
    font-family: "Montserrat", sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}